{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Search{% endblock %}

{% block content %}
    <div class="form">
        <form action="{% url 'index' %}" method="post" id="search_form">{% csrf_token %}
            <!--<label for="tag">Enter a tag: </label>-->
            <!--<input type="text" name="tag" id="tag" value="{#if current_tag #}{#current_tag#}{# endif #}" required>-->
            {{ form.as_p }}
            <input type="submit" value='Search' name="search" class="button" id="search"/>
        </form>
    </div>

    {% if error %}
        <h3>{{ error }}</h3>
    {% else %}
        <div id="list_links">
            {% include 'all.html' %}
        </div>
        <div id="ll"></div>
    {% endif %}

<script type="text/javascript" src='{% static "js/client.js" %}'></script>
{% endblock %}